<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark  px-5" data-bs-theme="dark">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">Stack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
        <li class="nav-item px-2">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
       
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ventas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Caja</a></li>
            <li><a class="dropdown-item" href="#">Cliente</a></li>
        
          </ul>
        </li>

        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compras
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Proveedor</a></li>
            <li><a class="dropdown-item" href="#">Orden Compra</a></li>
            <li><a class="dropdown-item" href="#">Almacen</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Almacén
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Producto</a></li>
            <li><a class="dropdown-item" href="#">Categoria</a></li>
          </ul>
        </li>

        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>